.container{
   background-color: yellow;
}

.container .title{
    color: var(--brancoTotal);
    font-size: 2.5rem;
    margin: 2rem 0 1rem;
    text-align: center;
}

.title .query-text{
    color: var(--amareloClaro);
}

.movies-container{
    display: flex;
    flex-wrap: wrap;     
    justify-content: space-between;
    max-width: 1200px;
    padding: 1rem;
    margin: 0 auto;    
    gap: 5px;
    background-color: red;
}

.movies-container div{
    background-color: var(--cinzaEscuro);
    color: var(--brancoTotal);
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
    justify-content: space-between;
    padding: 1rem;
    min-width: 380px;
}

.movies-container div img{
    max-width: 100%;
}

.movies-container div img,
.movies-container div h2,
.movies-container div p{
    margin-bottom: 1rem;
}

.movies-container div svg{
    color: var(--amareloClaro);
}

.movies-container a{
    align-items: center;
    background-color: var(--amareloClaro);
    border: 2px solid var(--amareloClaro);
    border-radius: 4px;
    color: var(--pretoTotal);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem .5rem;
    text-align: center;
    transition: .4s;

    &:hover{
    background-color:transparent;
    color: var(--amareloClaro);
    }
}

@media (min-width:800px){
    .movies-container div{
         width: 50%;
    }
}

@media (min-width:1024px){
    .movies-container div{
         width: 40%;
    }
}

@media (min-width:1196px){
    .movies-container div{
         width: 30%;
    }
}