/* movie-cards */
.movie-card {
  background-color:var(--cinzaClaro);
  box-shadow: 0 2px 6px rgba(179, 179, 179, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden; /* garante que nada saia do movie-card */
  padding: .5rem;
  width: 100%;
}

/* Imagens do movie-card */
.movie-card img {
  aspect-ratio: 2/3; /* exemplo: pôster padrão de cinema */
  display: block;
  margin-bottom: 1rem;
  object-fit: cover;
  width: 100%;
}

/* Conteúdo do movie-card */
.movie-card .subtitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.movie-card .nota {
  color: #a3a3a3;
  display: flex;
  font-size: 1.3rem;
  gap: 4px;
  margin-bottom: 1rem;

  & svg{
    color: var(--amareloClaro);
  }
}

/* Botões */
.movie-card .btnDetalhes{    
    background-color: var(--amareloClaro);
    border: none;
    border: 2px solid var(--amareloClaro);
    border-radius: 4px;    
    cursor: pointer;
    font-size: 1.1rem;
    padding: .6rem .3rem;
    text-align: center;    
    transition: .3s;
    width: 100%; 
       
    &:hover{
        background-color:transparent;
    }
} 
    
.movie-card .btnDetalhes a {
  color: var(--pretoTotal);   /* força a cor preta */
  display: block;             /* ocupa todo o botão */
}

.movie-card .btnDetalhes a:hover{
    background-color:transparent;
    color: var(--amareloClaro);
}   

/* RESPONSIVIDADE - TESTE NO VISUAL E VEJA A PARTIR DE QUAL MEDIA DEVERAO SER ALTERADOS OS ELEMENTOS */

@media (min-width: 640px) {
 
  .movie-card {
    /* Opcional: aumentar padding, borda ou sombra para telas maiores */
    padding: 16px;
  }

}
