#navbar{
    align-items: center;
    background-color: var(--cinzaClaro);
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    & h2 a{
        display: flex;
        font-size: 1.2rem;
        gap: 1rem;
        margin-right: -15px;
    }

    form{
       display: flex;
       gap: .5rem;

       & input {
           border: none;
           border-radius: 4px;
           outline: none;
           padding: 0.2rem 0.8rem;
           width: 7rem;
       }

       & button{
           align-items: center;
           background-color: var(--amareloClaro);
           border: 2px solid var(--amareloClaro);
           border-radius: 4px;
           color: var(--pretoTotal);
           cursor: pointer;
           display: flex;
           font-size: 1.3rem;
           padding: .3rem;
           transition: .4s;

           &:hover{
            background-color:transparent;
            color: var(--amareloClaro);
           }
       }
    }

}

/* RESPONSIVIDADE - TESTE NO VISUAL E VEJA A PARTIR DE QUAL MEDIA DEVERAO SER ALTERADOS OS ELEMENTOS */
@media (min-width: 440px) {
  #navbar form input {
  width: 13rem;
  }  
}
@media (min-width: 650px) {
  #navbar form input {
  width: 15rem;
  }  
}
