*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

:root{
   --pretoTotal       : #000;
   --amareloClaro     : #f7d354;
   --amareloEscuro    : #b8930c;
   --brancoFontes     : #ffffff;
}

body{
  background-color: var(--pretoTotal);
  color: var(--brancoFontes);
}

a{
  text-decoration: none;
  color: var(--amareloClaro);
  transition: .5s;

  &:hover{
    color: var(--amareloEscuro);
  }
}
